// SPDX-License-Identifier: GPL-3.0-or-later
// SPDX-FileCopyrightText: Copyright © 2023 TARUMT Intranet Beautifier Chan Alston

#navbar {
  background-color: var((--blue-color)) !important;

  padding: {
    top: 8px !important;
    bottom: 8px !important;
  }

  @media screen and (max-width: 992px) {
    padding: {
      right: 6px;
    }
  }

  & .navbar-buttons {
    &.navbar-header {
      &.pull-right {
        & > ul {
          padding: 2px 0 0 0;

          & > li {
            height: 40px;
            line-height: 40px;
            margin-right: 8px;
            border: none;

            &:last-child {
              margin-right: 0;
            }

            // for notification and apps icon
            &.light-green,
            &.purple {
              & > a {
                display: flex;
                align-items: center;
                justify-content: center;

                background-color: transparent;
                border-radius: 6px;

                i.ace-icon {
                  font-size: 22px;
                }

                transition: background-color 160ms ease-in-out;

                &:hover {
                  background-color: var(--blue-hover-color);
                }
                &[aria-expanded="true"] {
                  background-color: var(--blue-hover-dark-color);
                }
              }
            }

            // for user profile
            &.light-blue {
              & > a {
                display: flex;
                align-items: center;

                border-radius: 6px;
                padding-left: 0;

                background-color: var(--light-blue-color);

                transition: background-color 160ms ease-in-out;

                &:hover {
                  background-color: var(--light-blue-hover-color);
                }
                &[aria-expanded="true"] {
                  background-color: var(--light-blue-hover-dark-color);
                }

                // target only the user box
                & > img {
                  margin: 0 8px 0 0 !important;
                  border-radius: 6px;
                  border: 0;
                  height: 120% !important;
                  width: auto !important;

                  & + span.user-info {
                    top: 0;

                    & > small {
                      font-weight: bold;
                      overflow: hidden;
                      text-overflow: ellipsis;

                      &:nth-child(2) {
                        font-size: 100%;
                      }
                    }
                  }
                }

                span.badge {
                  display: inline-flex;
                  align-items: center;

                  padding: {
                    top: 2px;
                    bottom: 2px;
                    left: 4px;
                    right: 4px;
                  }

                  background-color: var(--dark-danger-color);
                  border-radius: 9999px;
                  aspect-ratio: 1;
                }
              }
            }

            & > ul {
              border-radius: 6px !important;
              top: 102%;
              right: 0;

              & > li.dropdown-header {
                border-radius: 6px !important;
              }
              & > li.dropdown-content {
                border-radius: 0 0 6px 6px !important;

                & > div.scroll-content {
                  & > ul.dropdown-menu:not(.navbar-pink) {
                    & > li {
                      padding: 0 8px 15px 8px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
