// SPDX-License-Identifier: GPL-3.0-or-later
// SPDX-FileCopyrightText: Copyright © 2023 TARUMT Intranet Beautifier Chan Alston

@use "./table.scss";
@use "./breadcrumb.scss";

div.main-content {
  .page-content {
    .page-header {
      h1 {
        font-weight: bold;

        small {
          font-weight: 300;
        }
      }
    }
  }
}

h3.header,
h4.header {
  font-weight: bold;
}
