// SPDX-License-Identifier: GPL-3.0-or-later
// SPDX-FileCopyrightText: Copyright © 2023 TARUMT Intranet Beautifier Chan Alston

div.main-content {
  .page-content {
    div.row {
      div.col-xs-12 {
        min-height: 300px;

        @mixin Table {
          div#dynamic-table_wrapper {
            div#dynamic-table_filter {
              input[type="search"] {
                border-radius: 6px !important;
              }
            }
          }

          table#dynamic-table {
            thead > tr {
              & > th:not(:first-child) {
                white-space: nowrap !important;
                min-width: 85px !important;
              }
            }

            tbody > tr {
              border-radius: 6px;

              & > td:nth-child(2) > a > span:first-child {
                display: inline-block;
                padding-right: 25px;
              }
            }
          }

          button#notPrint {
            border-radius: 6px;
          }
        }

        // facility booking - new booking
        #frmParam {
          & > div {
            min-height: 0;

            label.control-label {
              font-weight: bold;

              span.red {
                display: inline;
              }
            }
            select,
            .chosen-container-single,
            input#fpaxno {
              border-radius: 8px !important;
              a {
                border-radius: inherit !important;
              }
            }

            #member-list {
              li {
                & > input[name="member_fregkey"],
                & > input[name="member_name"] {
                  border-radius: 8px !important;
                }
              }
            }
          }
        }
        // Announcement table
        form {
          @include Table;
        }
        // facility booking main table
        div.tabbable {
          @include Table;
        }

        // Get started
        // a[target="_blank"] {
        //   display: flex;
        //   flex-direction: column;
        //   align-items: center;

        //   color: var(--cyan-color);

        //   h5 {
        //     font-size: 18px;
        //     font-weight: bold;
        //     text-align: center;
        //   }
        // }
        span.red {
          // display: block;
          // margin: 0 auto;

          color: var(--danger-color);
          font-weight: bold;
          // text-align: center;
        }
      }
    }
  }
}
