// SPDX-License-Identifier: GPL-3.0-or-later
// SPDX-FileCopyrightText: Copyright © 2023 TARUMT Intranet Beautifier Chan Alston

@use "./main/main.scss";
@use "./btn/btn.scss";
@use "./SideBar/sidebar-shortcuts.scss";
@use "./Header/navbar.scss";
@use "./Login/login.scss";
@use "./footer/Footer.scss";
@use "./sessionExpired/SessionExpired.scss";

body {
  &.login-layout {
    &.light-login {
      background-size: cover !important;
      background-repeat: no-repeat;
    }
  }
}

:root {
  // main color
  --light-blue-color: #d3f4ff;
  --dark-light-blue-color: #abcfdb;
  --light-blue-color: #5ea6cf;
  --light-blue-hover-color: #5293b8;
  --light-blue-hover-dark-color: #4690bb;
  --blue-color: #1672a6;
  --blue-hover-color: #146391;
  --blue-hover-dark-color: #105177;
  --cyan-color: #00b5b8;
  --dark-cyan-color: #00a0a3;
  --brown-color: #e49d23;

  --light-grey-text: #515151;

  // triage color
  --danger-color: #d74545;
  --danger-half-color: #d7454580;
  --dark-danger-color: #b43232;
  --warning-color: #ffa00a;
  --warning-half-color: #ffa00a80;
  --dark-warning-color: #b79600;
  --info-color: #1d95d6;
  --info-half-color: #1d95d680;
  --dark-info-color: #0e7ab5;
  --success-color: #4d9a51;
  --success-hover-color: #56ad5a;
  --success-half-color: #4d9a5180;
  --dark-success-color: #2d7831;
  --light-highlight-color: #5bcff3;
  --highlight-color: #2eb9e4;

  --grey-color: #3b444b;
  --grey-hover-color: #5c6a74;
}

// div#main-container.main-container {
//   background-color: var(--light-blue-color);
// }
